* {
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.field {
    width: 400px;
    height: 400px;
    border: 1px solid black;
    border-radius: 10px;
    position: relative;
}

.cell {
    width: 100px;
    height: 100px;

    border: 0.1px solid black;
    border-radius: 5px;
    position: absolute;
    font-size: 30px;
    transition: all 0.4s;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cell:hover {
    background-color: aquamarine;
}

.btnRestartGame {
    margin-top: 25px;
    padding-top: 6px;
    text-decoration: none;
    text-align: center;

    color: #000;
    border: 2px solid black;
    font-size: 20px;

    width: 150px;
    height: 40px;
}

.btnRestartGame:hover {
    border: 2px solid orangered;
}